

// SHARED VARS
$infoBarFontSize: 24px;
$questionFontSize: 40px;
$fontSize: 36px;

$fontColor: rgb(0, 0, 0);
$buttonBackgroundColor: rgb(255, 255, 255);
$infoBarBackgroundColor: rgb(255, 255, 255);
$feedbackViewPointsColor: rgb(255, 255, 255);
$infoBarFontColor: rgb(90, 90, 90);

// DEFAULT VAR
$backgroundColor : #f9b000;


// THEME VARS

// THEME 0
$backgroundColor_0 : #f9b000;

// THEME 1
$backgroundColor_1 : #8c63aa;

// THEME 2
$backgroundColor_2 : #81b523;

// THEME 3
$backgroundColor_3 : #62b8e8;