

$backgroundColor : #f9b000;
$blueColor: rgb(83, 183, 283);

$fontSize: 36px;
$fontColor: rgb(0, 0, 0);
$buttonBackgroundColor: rgb(255, 255, 255);
$infoBarBackgroundColor: rgb(255, 255, 255);

$feedbackViewPointsColor: rgb(255, 255, 255);

$infoBarFontColor: rgb(90, 90, 90);
$infoBarFontSize: 24px;
$questionFontSize: 40px;