


.answer .textWrapper.scale-0 {
  transition: transform 0.2s linear;
  transform: scale(0);
}


$distance : 10px;

.answer .textWrapper.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-($distance * 2), 0, 0);
  }

  20% {
    transform: translate3d( ($distance * 2), 0, 0);
  }

  30% {
    transform: translate3d(-($distance * 1.5), 0, 0);
  }

  40% {
    transform: translate3d( ($distance * 1.5), 0, 0);
  }

  50% {
    transform: translate3d(-($distance * 1), 0, 0);
  }

  60% {
    transform: translate3d( ($distance * 1), 0, 0);
  }

  70% {
    transform: translate3d(-($distance * 0.5), 0, 0);
  }

  80% {
    transform: translate3d( ($distance * 0.5), 0, 0);
  }

  90% {
    transform: translate3d(-($distance) * 0.2, 0, 0);
  }
}
