

 #infoBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // justify-content: flex-start | flex-end | center | space-between | space-around;
  // align-items: flex-start | flex-end | center | baseline | stretch;

  justify-content: space-between;

  border-bottom: 1px solid red;
  border-bottom: 1px solid rgb(0, 0, 0);
  // border-bottom: 1px solid rgb(255, 255, 255);
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 1);

  position: absolute;
  width: 100%;
  z-index: 1;
}

#infoBar p, 
#infoBar p span {
  color: rgb(255, 255, 255);
  font-size: 21px;
}

#infoBar #question {
  color: $blueColor;
  font-size: 25px;
  font-size: 36px;
}

#infoBar #pointsInt {
  position: relative;
}

#infoBar #pointsInt:after {
  content: attr(data-score);
  position: absolute;
  
  width: 36px;
  top: 7%;
  left: -42px;

  font-size: 20px;
  text-align: right;
  color: rgb(0, 0, 0);

  transform: translate(0, 0);
  opacity: 1;
  
  transition: transform 0s linear, 
              opacity 0s linear;
}

#infoBar #pointsInt[data-increment="true"]:after {
  color: rgb(0, 255, 0);
  transform: translate(-10px, -20px);
  opacity: 0;
  transition: transform 0.25s ease, 
              opacity 0.25s linear 0.2s;
}
#infoBar #pointsInt[data-increment="false"]:after {
  color: rgb(255, 0, 0);
  transform: translate(-10px, 20px);
  opacity: 0;
  transition: transform 0.25s ease, 
              opacity 0.25s linear 0.2s;
}