

#gameView {
  // background-color: orange;
}

#gameView {
  display: block;
  padding: 0px;
}

/*
<div class="answer" data-id="0">
              <div class="textWrapper">
                <p>Luka</p>
              </div>
            </div>
*/